// variables

:root {
  --container-gutter: 40px;
  --header-height: 70px;

  --background-color: #F8F9F9;
  --main-color: #17202A;
  --white: #FFFFFF;
  --black: #000000;
  --pink: #f9758f;
  --purple: #AF7AC5;
  --gray: #EAEDED;
  --dark-gray: #424949;

  @media (max-width: 768px) {
    --container-gutter: 20px;
  }
}

// components

.button {
  margin: 0;
  padding: 12px 20px;
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
  background-color: var(--pink);
  color: var(--white);
  min-width: 100px;
  border: none;
  outline: none;
  border-radius: 20px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  position: relative;

  &:hover {
    background-color: var(--purple);
    -webkit-box-shadow: 0px 0px 6px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 0px 6px 2px rgba(34, 60, 80, 0.2);
  }

  &:disabled {
    background-color: var(--pink);
    color: transparent;
    opacity: 0.8;
    pointer-events: none;

    &:after {
      position: absolute;
      content: '';
      width: 20px;
      height: 20px;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      background: url('./img/loading.svg') center / cover no-repeat;
    }
  }
}

.form {
  max-width: 500px;
  margin: 0 auto;
  padding: 60px 40px;
  background-color: var(--white);
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 30px;
  -webkit-box-shadow: 0px 0px 5px 2px rgba(27, 33, 37, 0.2);
  box-shadow: 0px 0px 5px 2px rgba(27, 33, 37, 0.2);

  @media (max-width: 576px) {
    padding: 40px 20px;
  }

  &__title {
    font-size: 24px;
    font-weight: 700;
    margin: 0;
  }

  &__control {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    gap: 8px;
    border-bottom: 2px solid var(--gray);
    padding: 0 5px 5px 5px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  &__input {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 5px 0 5px 30px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 1;
    color: var(--dark-gray);

    &#email {
      background-image: url('./img/email-ico.png');
      background-repeat: no-repeat;
      background-size: 20px;
      background-position: left center;
    }

    &#password,
    &#confirmPassword {
      background-image: url('./img/password-ico.png');
      background-repeat: no-repeat;
      background-size: 20px;
      background-position: left center;
    }
  }

  &__label {
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    padding: 0;
  }

  &__button {
    margin-top: 15px;
  }
}

// general

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 1.15;
  font-weight: 400;
  font-style: normal;
  color: var(--main-color);
  background-color: var(--background-color);
}

#root {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 var(--container-gutter);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

// blocks

.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--header-height);
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .075);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .075);
  background-color: var(--white);

  &__container {
    padding-top: 10px;
    padding-bottom: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  &__logo-link {
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;

    &:hover {
      -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
      transform: scale(1.05);
    }
  }

  &__logo {
    vertical-align: middle;
  }
}

.main {
  -webkit-box-flex: 1;
  -ms-flex: 1 1;
  flex: 1 1;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .075);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .075);
  position: relative;
}

.login {
  &__container {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

.popup {
  position: fixed;
  pointer-events: none;
  opacity: 0;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 var(--container-gutter);
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  background-color: rgba(100, 100, 100, 0.8);
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;

  &__body {
    margin: 70px auto 0 auto;
    max-width: 500px;
    padding: 15px 0 25px 0;
    background-color: var(--white);
    border-radius: 15px;
    position: relative;
    -webkit-box-shadow: 0px 0px 5px 2px rgba(27, 33, 37, 0.2);
    box-shadow: 0px 0px 5px 2px rgba(27, 33, 37, 0.2);
    -webkit-transform: translatey(-100%);
    -ms-transform: translatey(-100%);
    transform: translatey(-100%);
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    opacity: 0;
  }

  &__title {
    font-size: 24px;
    font-weight: 700;
    margin: 0 0 20px 0;
    padding: 0 40px 10px 40px;
    text-align: center;
    border-bottom: 2px solid var(--gray);
  }

  &__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    padding: 0 40px;
  }

  &__close-button {
    position: absolute;
    top: 15px;
    right: 15px;
    height: 20px;
    width: 20px;
    border: none;
    outline: none;
    background: url('./img/close-button.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;

    &:hover {
      -webkit-transform: scale(1.15);
      -ms-transform: scale(1.15);
      transform: scale(1.15);
    }
  }

  &_active {
    opacity: 1;
    pointer-events: auto;

    .popup__body {
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
      opacity: 1;
    }
  }
}

.footer {
  background-color: var(--white);

  &__text {
    padding: 0;
    margin: 20px 0;
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    text-align: right;
  }
}